body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 600px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

#content {
    width: 80%;
}

.tableOne{
    position: absolute;
    top: 150px;
    left: 100px;
    width: 500px;
    padding: 5px; 
}

.textOne{
    position: absolute;
    top: 310px;
    left: 730px;
}

.rectangle {
    height: 10px;
    width: 290px; 
    background-color: #555;
    position: absolute;
    top: 350px;
    left: 690px;
  }

.triangle-right {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 40px solid #555;
	border-bottom: 20px solid transparent;
    position: absolute;
    top: 335px;
    left: 980px;
}

.tableTwo{
    position: absolute;
    top: 145px;
    right: 150px;
    width: 500px;
    padding: 5px; 
}

.chartOne{
    position: absolute;
    top: 550px;
    right: 100px;
    width: 700px;
    padding: 10px;
}

/* .drop_down_algos{
    position: absolute;
    top: 490px;
    left: 100px;
    width: 600px;
    padding: 10px;
} */

.scheduling{
    position: absolute;
    top: 550px;
    left: 100px;
    width: 500px;
    padding: 10px;
}

.seqTable{
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}